html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: rgba(255, 255, 255, 1);

  font-family: 'Heebo';
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 60px;
}

h2 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 16px;
}

p {
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 12px;

  color: #403E3B;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  text-align: right;
  margin-top: 27px;
}

.nav-menu {
  display: flex;
  gap: 24px;
  text-align: right;
}

.nav-menu a {
  text-decoration: none;
  color: #111;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
}

.nav-menu a:hover {
  color: red;
}

/* Hero section */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 115px;
}

.hero-text {
  width: 50%;
  margin-top: 140px;
}

.subheading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
  color: #555;
}

.heading {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}

.description {
  font-size: 1rem;
  line-height: 100%;
  color: #333;
  max-width: 500px;
  margin-bottom: 38px;
}

.read-more {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}

.hero-image {
  display: flex;
  gap: 106px;
}

.hero-image img {
  margin-top: 140px;
}

button {
  margin-top: 38px;
  width: 208px;
  height: 47px;
  
  background: #FF6464;
  border-radius: 2px;
}

/* Blog Post */

.blog_post {
  background-color: rgba(237, 247, 250, 1);
  height: 396px;
  margin-top: 71px;
}

.blog_title {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;

  display: flex;
  align-items: flex-end;
}

.blog_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 295px;
}

.blog_card h2 {
  font-weight: 700;
  font-size: 26px;
}

.blog_card p {
  font-weight: 400;
  font-size: 16px;
}

.blog_card span {
  font-weight: 400;
  font-size: 18px;
}

.blog_cards {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 20px;
}